In [19]:
import pymysql.cursors
import pandas as pd
pd.options.display.max_columns = 999

# Connect to the database
conn = pymysql.connect(host='hackathon-db.bdc.n360.io',
                             port=3306,
                             user='events',
                             password='Hack@th0n2019',
                             db='hackathon',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [28]:
with conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM promotion")

    rows = cur.fetchall()
    res = pd.DataFrame(rows)
    
#     for row in rows:
#         print(row)

In [29]:
res.columns

Index(['bonus', 'cashdown', 'creation_date', 'description', 'distance_allowed',
       'distance_period', 'end_date', 'financing_duration', 'frequency',
       'img_url', 'interest_rate', 'last_modified_date', 'make', 'make_id',
       'model', 'model_id', 'payment', 'promotion_id', 'rebate', 'start_date',
       'title', 'trim', 'trim_id', 'type', 'year'],
      dtype='object')

In [31]:
with conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM organization_unit")

    rows = cur.fetchall()
#     print(rows)
    res = pd.DataFrame(rows)
    
#     for row in rows:
#         print(row)

In [58]:
import redis
import time
import pickle
from sklearn.neighbors import NearestNeighbors

r = redis.Redis(host='localhost', port=6379, db=0)

features = ["odometer", "transmission_type", "new", "price", "passengers", "car_year"]

True

In [25]:
def log_visit(anonymous_id, car_id):
    lst = []
    if (r.get(anonymous_id) == None):
        lst = [{
            "time": time.time(),
            "car_id": car_id
        }]
    else:
        lst = pickle.loads(r.get(anonymous_id))
        lst.append({"time": time.time(),
                    "car_id": car_id})
    
    r.set(anonymous_id, pickle.dumps(lst))

In [23]:
anonymous_call("12345678901234567890", "test_car_id_2")

In [18]:
r.set("12345678901234567890", pickle.dumps([]))

True

In [24]:
pickle.loads(r.get("12345678901234567890"))

[{'car_id': 'test_car_id_1', 'time': 1552754020.272398},
 {'car_id': 'test_car_id_2', 'time': 1552754038.8878112}]

In [30]:
def log_in(anonymous_id, user_id):
    if (r.get(anonymous_id) != None):
        temp = r.get(anonymous_id)
        r.set(user_id, temp)
        r.delete(anonymous_id)
    else:
        raise "anonymous id does not exist in Redis"

In [236]:
import numpy as np

In [245]:
def defaultf(o):
    if isinstance(o, np.int64): return int(o)  
    return o

In [33]:
log_in("12345678901234567890", "user0")

In [268]:
diction =get_car_info(5204244).loc[0].to_dict()

In [277]:
import decimal
for k, v in diction.items():
    if (isinstance(v, np.int64)):
        diction[k] = int(v)
    if (isinstance(v, pd.Timestamp)):
        diction[k] = v.strftime('%Y-%m-%d')
    if (isinstance(v, decimal.Decimal)):
        diction[k] = float(v)

In [278]:
json.dumps(diction)

'{"car_ext_photo_url1": "http://img.sm360.ca/images/var/images/bdc-hackathon-2019/used_car.jpg", "car_ext_photo_url2": null, "car_ext_photo_url3": null, "car_id": 5204244, "car_int_photo_url1": "http://img.sm360.ca/images/var/images/bdc-hackathon-2019/used_car.jpg", "car_int_photo_url2": null, "car_int_photo_url3": null, "car_status": "FOR_SALE", "car_status_id": 1, "car_year": 2009, "carproof": 1, "certified": 0, "clearance": 0, "commercial": 0, "cubic_capacity": null, "date_created": "2017-08-09", "date_entry": "2017-08-09", "date_service": null, "date_sold": null, "date_updated": "2018-12-21", "demo": 0, "doors": 2, "drive_train": null, "engine_type": "4", "extend_warranty_id": 0, "extra_option": "Driver Air Bag,Passenger Air Bag,Front Side Air Bag,Front Head Air Bag,Rear Head Air Bag,Climate Control,A/C,AM/FM Stereo,CD Player,ABS,4-Wheel Disc Brakes,Cruise Control,Rear Defrost,Keyless Entry,Power Door Locks,Heated Mirrors,Power Mirror(s),Pass-Through Rear Seat,Bucket Seats,Power Steering,Adjustable Steering Wheel,Traction Control,Aluminum Wheels,Power Windows,Intermittent Wipers,MP3 Player,Fog Lamps,Variable Speed Intermittent Wipers,Steering Wheel Audio Controls,Power Outlet,Engine Immobilizer,HID headlights,Automatic Headlights,Auto-Dimming Rearview Mirror,Driver Vanity Mirror,Passenger Vanity Mirror,Leather Steering Wheel,Tire Pressure Monitor,Trip Computer,Stability Control,Brake Assist,Auxiliary Audio Input,Cargo Shade,Rear Bench Seat,Passenger Air Bag Sensor", "fuel": "Gasoline", "induction": null, "inventory_color": "Red", "inventory_frame_category": "Passenger", "inventory_frame_category_id": 1, "inventory_frame_desc": null, "inventory_frame_style": "Coupe", "inventory_frame_style_id": 2, "inventory_id": 6, "inventory_interior_color": "Black", "inventory_make": "MINI", "inventory_make_id": 822, "inventory_model": "Cooper Hardtop", "inventory_model_desc_id": 24546, "inventory_trim": "S CUIR TOIT OUVRANT PANORAMIQUE", "inventory_trim_id": 228729, "inventory_vehicle_category_id": 1, "new": 0, "note": "Fully Equipped, Sun Roof, Power Windows, Power Doors, Power Steering, Cruise Control, Electric Mirrors, Remote Keyless Entry, Air Conditioning, Leather Interior, Heated Front Seats, Tilt Steering Wheel, AM/FM Radio, 6 Speakers, CD Player, AUX Input, Bluetooth, Onboard Computer, Tachometer, Steering Wheel Audio Controls, Anti-Theft, Driver Airbag, Passenger Airbag, Side Airbags, ABS Brakes, Traction Control, Tire Pressure Monitoring System, Alloy Wheels, Fog Lights", "odometer": 170500, "option": null, "passengers": 4, "price": 5994.0, "severely_damaged_vehicle": 0, "transmission_gear": 6, "transmission_type": "MANUAL", "vehicle_page_views": 92, "warranty_class": "Class C : 1 month or 1,700 km.", "warranty_date": null, "warranty_km": null}'

In [224]:
def get_car_info(car_id):
    with conn:
        cur = conn.cursor()
        query = "SELECT * FROM car_inventory WHERE car_id={0}".format(car_id)
        cur.execute(query)

        rows = cur.fetchall()
        res = pd.DataFrame(rows)
    return res

In [223]:
car.loc[0].to_dict()

{'car_ext_photo_url1': 'http://img.sm360.ca/images/var/images/bdc-hackathon-2019/used_car.jpg',
 'car_ext_photo_url2': None,
 'car_ext_photo_url3': None,
 'car_id': 3272090,
 'car_int_photo_url1': 'http://img.sm360.ca/images/var/images/bdc-hackathon-2019/used_car.jpg',
 'car_int_photo_url2': None,
 'car_int_photo_url3': None,
 'car_status': 'DELETED',
 'car_status_id': 3,
 'car_year': 2010,
 'carproof': 1,
 'certified': 0,
 'clearance': 0,
 'commercial': 0,
 'cubic_capacity': None,
 'date_created': Timestamp('2013-04-23 21:40:47'),
 'date_entry': Timestamp('2010-02-17 00:00:00'),
 'date_service': None,
 'date_sold': None,
 'date_updated': Timestamp('2014-10-01 21:28:17'),
 'demo': 0,
 'doors': 4,
 'drive_train': None,
 'engine_type': '4',
 'extend_warranty_id': 0,
 'extra_option': None,
 'fuel': None,
 'induction': None,
 'inventory_color': 'Black',
 'inventory_frame_category': 'Passenger',
 'inventory_frame_category_id': None,
 'inventory_frame_desc': None,
 'inventory_frame_style': 'Sedan',
 'inventory_frame_style_id': 1,
 'inventory_id': 6,
 'inventory_interior_color': 'Black',
 'inventory_make': 'Mazda',
 'inventory_make_id': 567,
 'inventory_model': 'Mazda3',
 'inventory_model_desc_id': 2313,
 'inventory_trim': None,
 'inventory_trim_id': 1,
 'inventory_vehicle_category_id': 1,
 'new': 0,
 'note': 'Fully Equipped, AM/FM Radio, CD Player, Power Windows, Power Doors, Power Steering, Air Conditioning, Cruise Control, Sun Roof, Electric Mirrors, Alloy Wheels, Tilt Steering, Air Bags, Rear-Folding Seats, Intermittent Wipers, Protective Side Moulding, Remote Entry, Tachometer, Power Brakes, Steering wheel audio controls',
 'odometer': 9098,
 'option': None,
 'passengers': 5,
 'price': Decimal('21019.00'),
 'severely_damaged_vehicle': 0,
 'transmission_gear': 0,
 'transmission_type': 'AUTOMATIC',
 'vehicle_page_views': None,
 'warranty_class': 'Class D',
 'warranty_date': None,
 'warranty_km': 0}

0    None
Name: car_ext_photo_url3, dtype: object

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [14]:
def get_cars(inventory_id):
    with conn:
        cur = conn.cursor()
        query = "SELECT * FROM car_inventory WHERE inventory_id={0}".format(inventory_id)
        cur.execute(query)

        rows = cur.fetchall()
        res = pd.DataFrame(rows)
    return res

In [158]:
def number_crunch(inventory_id):
    inv = get_cars(inventory_id)
    for_sale = inv.loc[(inv['car_status'] != "SOLD") & (inv['car_status'] != "DELETED")]
    feature_df = for_sale[features]
    processed_feature_df = pd.concat([feature_df, pd.get_dummies(feature_df["transmission_type"])
                                  .drop("MANUAL", axis = 1)], axis = 1).drop("transmission_type", axis = 1)
    processed_feature_df = processed_feature_df.fillna(processed_feature_df.mean())
    scaler = StandardScaler()
    scaler.fit(processed_feature_df)
    processed_feature_df = pd.DataFrame(scaler.transform(processed_feature_df), columns = feature_df.columns)
    nbrs = NearestNeighbors(n_neighbors=4, algorithm='ball_tree').fit(processed_feature_df)
    distances, indices = nbrs.kneighbors(processed_feature_df)
    distances = pd.DataFrame(distances).drop([0], axis = 1)
    indices = pd.DataFrame(indices).drop([0],axis = 1)

    scaler = StandardScaler()
    print(scaler.fit(distances))
    scaler.transform(distances)
    distances = distances.applymap(lambda x: 10 - x)

    indices = pd.concat([pd.DataFrame(indices), for_sale["car_id"].reset_index(drop = True)], axis =1)
    distances = pd.concat([pd.DataFrame(distances), for_sale["car_id"].reset_index(drop = True)], axis = 1)
    return indices, distances

In [159]:
indices, distances = number_crunch(6)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [168]:
import json

In [187]:
indices.head()

    1    2   3   car_id
0  68   80  94  5204244
1  53  116  29  5246798
2  22   20  15  5299871
3  13   12  14  5334072
4   5   10   9  5341411

In [205]:
arr = indices.loc[indices["car_id"] == 5204244][[1, 2, 3]]

In [216]:
arr.loc[0].apply(lambda x: indices.loc[x]["car_id"]).tolist()

[5741337, 5764741, 5791398]

In [200]:
indices.loc[indices["car_id"] == 5204244]

    1   2   3   car_id
0  68  80  94  5204244

In [179]:
json.dumps({"ids": indices.loc[indices["car_id"] == 5204244].applymap(lambda x: ndices.loc[x]["car_id"]).tolist(),
            "distances": distances.loc[distances["car_id"] == 5204244].loc[0].tolist()})

0    68
Name: 1, dtype: int64
0    80
Name: 2, dtype: int64
0    94
Name: 3, dtype: int64
0    5204244
Name: car_id, dtype: int64

'{"ids": [null, null, null, null], "distances": [8.352779920648079, 8.14813589299507, 8.054650572130058, 5204244.0]}'

In [279]:
def get_similar_car(car_id):
    arr = indices.loc[indices["car_id"] == 5204244][[1, 2, 3]]
    return arr.loc[0].apply(lambda x: indices.loc[x]["car_id"]).tolist()

In [66]:
feature_df = for_sale[features]

In [102]:
processed_feature_df = pd.concat([feature_df, pd.get_dummies(feature_df["transmission_type"])
                                  .drop("MANUAL", axis = 1)], axis = 1).drop("transmission_type", axis = 1)

In [103]:
processed_feature_df = processed_feature_df.fillna(processed_feature_df.mean())

In [139]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler = StandardScaler()
print(scaler.fit(processed_feature_df))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [141]:
processed_feature_df = pd.DataFrame(scaler.transform(processed_feature_df), columns = feature_df.columns)

In [145]:
nbrs = NearestNeighbors(n_neighbors=4, algorithm='ball_tree').fit(processed_feature_df)
distances, indices = nbrs.kneighbors(processed_feature_df)

In [150]:
distances = pd.DataFrame(distances).drop([0], axis = 1)
indices = pd.DataFrame(indices).drop([0],axis = 1)

scaler = StandardScaler()
print(scaler.fit(distances))
scaler.transform(distances)
distances = distances.applymap(lambda x: 10 - x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
indices = pd.concat([pd.DataFrame(indices), for_sale["car_id"].reset_index(drop = True)], axis =1)
distances = pd.concat([pd.DataFrame(distances), for_sale["car_id"].reset_index(drop = True)], axis = 1)

In [290]:
distances[[1, 2, 3]][distances["car_id"] == 5204244].loc[0].tolist()

[8.352779920648079, 8.14813589299507, 8.054650572130058]

In [281]:
indices.loc[indices["car_id"] == 5204244]

    1   2   3   car_id
0  68  80  94  5204244