In [36]:
import pymysql.cursors
import pandas as pd

# Connect to the database
conn = pymysql.connect(host='hackathon-db.bdc.n360.io',
                             port=3306,
                             user='events',
                             password='Hack@th0n2019',
                             db='hackathon',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [15]:
with conn:
    cur = conn.cursor()
    cur.execute("SELECT TABLE_NAME FROM information_schema.TABLES WHERE TABLE_SCHEMA = 'hackathon'")

    rows = cur.fetchall()

    for row in rows:
        print(row)

{'TABLE_NAME': 'activity'}
{'TABLE_NAME': 'car_inventory'}
{'TABLE_NAME': 'car_lineup'}
{'TABLE_NAME': 'car_lineup_ext_color'}
{'TABLE_NAME': 'car_lineup_int_color'}
{'TABLE_NAME': 'car_lineup_trim'}
{'TABLE_NAME': 'lead'}
{'TABLE_NAME': 'lead_car_info'}
{'TABLE_NAME': 'organization_unit'}
{'TABLE_NAME': 'organization_unit_inventory'}
{'TABLE_NAME': 'organization_unit_make'}
{'TABLE_NAME': 'organization_unit_opening_hours'}
{'TABLE_NAME': 'promotion'}
{'TABLE_NAME': 'promotion_website'}
{'TABLE_NAME': 'province'}
{'TABLE_NAME': 'website'}
{'TABLE_NAME': 'website_statistics'}

In [28]:
with conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM promotion")

    rows = cur.fetchall()
    res = pd.DataFrame(rows)
    
#     for row in rows:
#         print(row)

In [29]:
res.columns

Index(['bonus', 'cashdown', 'creation_date', 'description', 'distance_allowed',
       'distance_period', 'end_date', 'financing_duration', 'frequency',
       'img_url', 'interest_rate', 'last_modified_date', 'make', 'make_id',
       'model', 'model_id', 'payment', 'promotion_id', 'rebate', 'start_date',
       'title', 'trim', 'trim_id', 'type', 'year'],
      dtype='object')

In [31]:
with conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM organization_unit")

    rows = cur.fetchall()
#     print(rows)
    res = pd.DataFrame(rows)
    
#     for row in rows:
#         print(row)

In [16]:
import redis
import time
import pickle

r = redis.Redis(host='localhost', port=6379, db=0)

In [9]:
r.get("fooo") == None

True

In [25]:
def log_visit(anonymous_id, car_id):
    lst = []
    if (r.get(anonymous_id) == None):
        lst = [{
            "time": time.time(),
            "car_id": car_id
        }]
    else:
        lst = pickle.loads(r.get(anonymous_id))
        lst.append({"time": time.time(),
                    "car_id": car_id})
    
    r.set(anonymous_id, pickle.dumps(lst))

In [23]:
anonymous_call("12345678901234567890", "test_car_id_2")

In [18]:
r.set("12345678901234567890", pickle.dumps([]))

True

In [24]:
pickle.loads(r.get("12345678901234567890"))

[{'car_id': 'test_car_id_1', 'time': 1552754020.272398},
 {'car_id': 'test_car_id_2', 'time': 1552754038.8878112}]

In [30]:
def log_in(anonymous_id, user_id):
    if (r.get(anonymous_id) != None):
        temp = r.get(anonymous_id)
        r.set(user_id, temp)
        r.delete(anonymous_id)
    else:
        raise "anonymous id does not exist in Redis"

In [33]:
log_in("12345678901234567890", "user0")

In [ ]:
def get_car_info(car_id):

In [37]:
with conn:
    cur = conn.cursor()
    query = "SELECT * FROM car_inventory WHERE car_id={0}".format(5029109)
    cur.execute(query)

    rows = cur.fetchall()
    res = pd.DataFrame(rows)

In [39]:
res

,car_ext_photo_url1,car_ext_photo_url2,car_ext_photo_url3,car_id,car_int_photo_url1,car_int_photo_url2,car_int_photo_url3,car_status,car_status_id,car_year,...,option,passengers,price,severely_damaged_vehicle,transmission_gear,transmission_type,vehicle_page_views,warranty_class,warranty_date,warranty_km
0,http://img.sm360.ca/images/var/images/bdc-hack...,None,None,5029109,http://img.sm360.ca/images/var/images/bdc-hack...,None,None,SOLD,2,2013,...,None,5,12495.00,0,6,AUTOMATIC,72,"Class C : 1 month or 1,700 km.",2018-08-22,100000